@import url("https://fonts.googleapis.com/css?family=Space+Grotesk");

body {
    margin: 0;
    font-family: "Space Grotesk", sans-serif !important;
    font-weight: 500 !important;
}

:root {
    --Red: hsl(0, 100%, 66%);
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Linear-grad1: hsl(249, 99%, 64%);
    --Linear-grad2: hsl(278, 94%, 30%);
}
